<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("chicago_data.db")
cur = con.cursor()

%sql sqlite:///chicago_data.db

'Connected: @chicago_data.db'

In [3]:
!pip install -q pandas==1.1.5

In [4]:
import pandas

census = pandas.read_csv('ChicagoCensusData.csv')
crime = pandas.read_csv('ChicagoCrimeData.csv')
public_schools = pandas.read_csv('ChicagoPublicSchools.csv')

census.to_sql("chicago_census_data", con, if_exists='replace', index=False)
crime.to_sql("chicago_crime_data", con, if_exists='replace', index=False)
public_schools.to_sql("chicago_public_schools_data", con, if_exists='replace', index=False)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

In [5]:
%sql SELECT * FROM chicago_public_schools_data limit 5;

 * sqlite:///chicago_data.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49.0, 'Strong', '60', 'Strong', 60.0, 'Average', 55.0, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

## Honors:

### Exercise 1 Question 1:

In [6]:
%%sql SELECT School.NAME_OF_SCHOOL, Census.COMMUNITY_AREA_NAME, School.AVERAGE_STUDENT_ATTENDANCE
    FROM chicago_public_schools_data AS School
	JOIN chicago_census_data AS Census ON School.COMMUNITY_AREA_NUMBER = Census.COMMUNITY_AREA_NUMBER
    WHERE Census.HARDSHIP_INDEX = 98;

 * sqlite:///chicago_data.db
Done.

[('George Washington Carver Military Academy High School', 'Riverdale', '91.60%'),
 ('George Washington Carver Primary School', 'Riverdale', '90.90%'),
 ('Ira F Aldridge Elementary School', 'Riverdale', '92.90%'),
 ('William E B Dubois Elementary School', 'Riverdale', '93.30%')]

### Exercise 1 Question 2:

In [16]:
%%sql SELECT CASE_NUMBER, PRIMARY_TYPE, census.COMMUNITY_AREA_NAME, LOCATION_DESCRIPTION
    FROM chicago_census_data AS census
    RIGHT JOIN chicago_crime_data AS crime ON census.COMMUNITY_AREA_NUMBER = crime.COMMUNITY_AREA_NUMBER
    WHERE crime.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///chicago_data.db
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HL725506', 'BATTERY', 'Lincoln Square', 'SCHOOL, PUBLIC, BUILDING'),
 ('HH639427', 'BATTERY', 'Austin', 'SCHOOL, PUBLIC, BUILDING'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HT315369', 'ASSAULT', 'East Garfield Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HP716225', 'BATTERY', 'Douglas', 'SCHOOL, PUBLIC, BUILDING'),
 ('HL353697', 'BATTERY', 'South Shore', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS305355', 'NARCOTICS', 'Brighton Park', 'SCHOOL, PUBLIC, BUILDING'),
 ('JA460432', 'BATTERY', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None, 'SCHOOL, PRIVATE, BUILDING'),
 ('G635735', 'PUBLIC PEACE VIOLATION', None, 'SCHOOL, PUBLIC, BUILDING')]

### Exercise 2 Question 1:

In [8]:
%%sql CREATE VIEW SchoolView(SCHOOL_NAME, LEADERS_ICON)
    AS SELECT NAME_OF_SCHOOL, LEADERS_ICON
    FROM chicago_public_schools_data;

 * sqlite:///chicago_data.db
Done.

[]

In [12]:
%sql SELECT * FROM SchoolView;

 * sqlite:///chicago_data.db
Done.

[('Abraham Lincoln Elementary School', 'Weak'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Weak'),
 ('Adlai E Stevenson Elementary School', 'Weak'),
 ('Agustin Lara Elementary Academy', 'Weak'),
 ('Air Force Academy High School', 'Weak')]

### Exercise 3 Question 1:

In [ ]:
%%sql --#SET TERMINATOR @
    CREATE PROCEDURE UPDATE_LEADERS_SCORE
    (IN new_school_id INTEGER, IN new_score INTEGER)
    LANGUAGE SQL
    MODIFIES SQL DATA

    BEGIN 
    END
    @

### Exercise 3 Question 2:

In [ ]:
%%sql --#SET TERMINATOR @
    CREATE PROCEDURE UPDATE_LEADERS_SCORE
    (IN new_school_id INTEGER, IN new_score INTEGER)
    LANGUAGE SQL
    MODIFIES SQL DATA

    BEGIN 
        Update chicago_public_schools_data
        SET Leader_Score = new_score
        where SCHOOL_ID = new_school_id;
    END
    @

### Exercise 3 Question 3:

In [18]:
%%sql --#SET TERMINATOR @
    CREATE PROCEDURE UPDATE_LEADERS_SCORE
    (IN new_school_id INTEGER, IN new_score INTEGER)
    LANGUAGE SQL
    MODIFIES SQL DATA
    BEGIN
        Update chicago_public_schools_data
        SET Leaders_Score = new_score
        where SCHOOL_ID = new_school_id;

        IF (in_Leaders_Score > 0 AND in_Leaders_Score < 20)
            THEN
            UPDATE chicago_public_schools_data 
            SET Leaders_icon = 'Very weak'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 40
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'weak'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 60
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Average'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 80
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Strong'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 100
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Very Strong'
            WHERE School_ID = new_school_id;
        END IF;                 
    END
    @

 * sqlite:///chicago_data.db
(sqlite3.OperationalError) near "PROCEDURE": syntax error
[SQL: --#SET TERMINATOR @
    CREATE PROCEDURE UPDATE_LEADERS_SCORE
    (IN new_school_id INTEGER, IN new_score INTEGER)
    LANGUAGE SQL
    MODIFIES SQL DATA
    BEGIN
        Update CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Score = in_Leaders_Score
        where SCHOOL_ID = in_SCHOOL_ID;

        IF (in_Leaders_Score > 0 AND in_Leaders_Score < 20)
            THEN
            UPDATE CHICAGO_PUBLIC_SCHOOLS
            SET Leaders_icon = 'Very weak'
            WHERE School_ID = in_School_ID;

        ELSEIF in_Leaders_Score < 40
            THEN
            UPDATE CHICAGO_PUBLIC_SCHOOLS
            SET Leaders_icon = 'weak'
            WHERE School_ID = in_School_ID;

        ELSEIF in_Leaders_Score < 60
            THEN
            UPDATE CHICAGO_PUBLIC_SCHOOLS
            SET Leaders_icon = 'Average'
            WHERE School_ID = in_School_ID;

        ELSEIF in_Leaders_Score < 80
            THEN
            UPDATE CHICAGO_PUBLIC_SCHOOLS
            SET Leaders_icon = 'Strong'
            WHERE School_ID = in_School_ID;

        ELSEIF in_Leaders_Score < 100
            THEN
            UPDATE CHICAGO_PUBLIC_SCHOOLS
            SET Leaders_icon = 'Very Strong'
            WHERE School_ID = in_School_ID;
       END IF;
    END
    @]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Exercise 3 Question 4:

In [ ]:
%sql SELECT SCHOOL_ID, Leaders_icon FROM chicago_public_schools_data WHERE SCHOOL_ID = 610317;

In [ ]:
%sql CALL UPDATE_LEADERS_SCORE(610317, 86);

### Exercise 4 Question 1:

In [ ]:
%%sql --#SET TERMINATOR @
    CREATE PROCEDURE UPDATE_LEADERS_SCORE
    (IN new_school_id INTEGER, IN new_score INTEGER)
    LANGUAGE SQL
    MODIFIES SQL DATA
    BEGIN
        Update chicago_public_schools_data
        SET Leaders_Score = new_score
        where SCHOOL_ID = new_school_id;

        IF (in_Leaders_Score > 0 AND in_Leaders_Score < 20)
            THEN
            UPDATE chicago_public_schools_data 
            SET Leaders_icon = 'Very weak'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 40
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'weak'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 60
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Average'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 80
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Strong'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 100
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Very Strong'
            WHERE School_ID = new_school_id;
        ELSE ROLLBACK;
        END IF;
    END
    @

### Exercise 4 Question 2:

In [ ]:
%%sql --#SET TERMINATOR @
    CREATE PROCEDURE UPDATE_LEADERS_SCORE
    (IN new_school_id INTEGER, IN new_score INTEGER)
    LANGUAGE SQL
    MODIFIES SQL DATA
    BEGIN
        Update chicago_public_schools_data
        SET Leaders_Score = new_score
        where SCHOOL_ID = new_school_id;

        IF (in_Leaders_Score > 0 AND in_Leaders_Score < 20)
            THEN
            UPDATE chicago_public_schools_data 
            SET Leaders_icon = 'Very weak'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 40
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'weak'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 60
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Average'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 80
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Strong'
            WHERE School_ID = new_school_id;

        ELSEIF in_Leaders_Score < 100
            THEN
            UPDATE chicago_public_schools_data
            SET Leaders_icon = 'Very Strong'
            WHERE School_ID = new_school_id;
        ELSE ROLLBACK;
        END IF;
        COMMIT
    END
    @